<!--  -->
<%# provide(:title, @venue.name) %>
<!doctype html>
<html class="no-js" lang="en">
  <%= render :partial => "head" %>
  <body>

 <div class="grid-container">
    <%= render :partial => "top_bar" %>
    <%= render "flashes" -%>
   
    <%= yield %>
    <%= render :partial => "callout_large_secondary.html" %>

      <%= render "javascript" %>
    </div>
  </body>
</html>
<!-- 

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= yield %>

  </body>
</html>

 -->