<!--  -->
<% if @attraction %>
	<% provide(:title, "#{@attraction.name}") %>	
<% end %>
<!doctype html>
<html class="no-js" lang="en">
  <%= render :partial => "head" %>
  <body>

 <div class="grid-container">
    <%= render :partial => "top_bar" %>
    <%= render "flashes" -%>
   
    <%= yield %>
    <%= render :partial => "callout_large_secondary.html" %>

      <%= render "javascript" %>
    </div>
  </body>
</html>
